<!DOCTYPE html>
<html>
    <head>
        <title>Freeq</title>  

        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="../static/libs/bootstrap/bootstrap.min.css">
        <!--FontAwesome CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
    <body>

        <div class="container">
            <div class="row">
                <h1>Welcome to Freeq</h1>
                <h3>Join a room:</h3>
                <input class="col-xs-12 col-sm-2" id="room-id" placeholder="Room ID" type="text"/>
                <button id="join-room-btn" class="btn-primary">Join a room!</button>
            </div>
            <div class="row">
                <h3>Or create a room:</h3>
                <button id="create-room-btn" class="btn-primary">Create a room!</button>
            </div>

            <div class="row errors">
                {% for error in errors %}
                    <p>{{error}} </p>
                {% endfor %}
            </div>

        </div>

        {% include "script-includes.html" %}
    </body>

    
</html>