<!DOCTYPE html>
<html>
    <head>
        <title>Freeq</title>  
                {% include "script-includes.html" %}


        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="../static/libs/bootstrap/bootstrap.min.css">
        <!--FontAwesome CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

       	<script src="https://www.youtube.com/iframe_api"></script>

		<script src="../static/js/queue.js"></script>
    </head>
    <body>

        <div class="container">
            
            <div class="row">
                <div class='btn' id='play-btn'>Play</div>
				<div id="player1"></div>
				<div id="player2"></div>
			</div>

            <div class="row errors">
                {% for error in errors %}
                    <p>{{error}} </p>
                {% endfor %}
            </div>

        </div>

    </body>

    
</html>