<!DOCTYPE>
<html>
    {% include "head.html" %}
    <body>
        <div class="container">
            <div class="row">
                <h2>Room Name:</h2>
                <input id="room-name"/>
                
                <h2>Room Description:</h2>
                <input id="room-description"/>
            </div>
        </div>
        
        {% include "script-includes.html" %}
    </body>
</html>